---
layout: default

---
<div class="section intro">
  <div class="intro-container wrapper fullheight">
    <div class="logo"></div>
    <div class="social">
      <div class="social-link">
        <a target="_BLANK" href="{{ site.facebook }}">
          <i class="fab fa-facebook-square fa-3x"></i>
        </a>
      </div>  
      <div class="social-link">
        <a target="_BLANK" href="{{ site.youtube }}">
          <i class="fab fa-youtube fa-3x"></i>
        </a>
      </div>  
      <div class="social-link">
        <a target="_BLANK" href="{{ site.spotify }}">
          <i class="fab fa-spotify fa-3x"></i>
        </a>
      </div>
      <div class="social-link">
        <a target="_BLANK" href="{{ site.instagram }}">
          <i class="fab fa-instagram fa-3x"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="section ep">
  <div class="ep-container wrapper grid-2x">
    <div class="ep-description">
      <img src="img/srni.png" />
    </div>
    <div class="ep-image">
      <img src="img/ep.jpg" />
    </div>
  </div>
</div>

<div class="section gigs">
  <div class="wrapper">
    <div class="gigs-list">
      {% for gig in site.data.gigs %}
      <div class="gigs-list-item {% if gig.completed %}completed{% endif %}">
        <div class="gigs-title">{{ gig.name }}</div>
        <div class="gigs-meta">{{ gig.date | date: "%d.%m.%Y" }}, {{ gig.location }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="section images">
  <div class="wrapper images-container">
    {% assign limit = site.data.gallery.image | size | divided_by: 2 %}
    <div class="row">
      <div class="column">
        {% for image in site.data.gallery limit: limit %}
        <div class="image-container">
          <a href="{{ image.url }}" target="_blank">
            <img src="{{ image.image | prepend:site.baseurl }}" />
            <div class="image-overlay">
              <i class="fab fa-instagram fa-5x"></i>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      <div class="column">
        {% for image in site.data.gallery offset: limit %}
        <div class="image-container">
          <a href="{{ image.url }}" target="_blank">
            <img src="{{ image.image | prepend:site.baseurl }}" />
            <div class="image-overlay">
              <i class="fab fa-instagram fa-5x"></i>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="section footer">
  <div class="wrapper">
    <div class="footer-content">
      <div><i class="far fa-save fa-5x"></i></div> 
      <p>&nbsp;</p> 
      <p><a href="https://drive.google.com/open?id=1Z1C5dEd_C4ySVIsR274a2mxOFUgYoQ8z" target="_blank">Download Promo</a></p> 
      <p>&nbsp;</p> 
      <p>Created 2019 by <a href="https://janstuemmel.de" target="_blank">Jan Stümmel</a></p> 
      <p>hosted by Github Pages</p> 
      <p>&nbsp;</p>
      <p><a href="privacy.html">Imprint & Privacy</a></p> 
    </div>
  </div>
</div>