<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="jabba da funk - band from freising - rap funkrock music">
  <meta name="keywords" content="jabbadafunk, jabba da funk, freising, munich, funk, funkrock, rock, rap, music, deutschrap, band, rockband, livemusic, jimi hendrix, srni, livemusik, musik, bass, guitar, drums, vocals">
  <meta name="theme-color" content="#222">
  <title>JABBADAFUNK</title>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="lib/fontawesome/css/all.min.css">
</head>
<body>
  <div id="root">
    {{ content }}
  </div>
</body>
</html>